ion-content{
    --ion-background-color:#EBDFA3 !important;
}

ion-item{
    --background:#aca275;
    border-radius:10px ;
    margin-bottom:16px;
}

.texto{
    margin-top:130px;
    margin-bottom:30px;
    text-align:center;
    .subtitulo{
        color: gray;
        font-size: 16px;
    }
    .titulo{
        text-align: center;
        color: black;
        font-family: 'Arial';
        font-weight: bold; 
        font-size: 20px;
    }
}

.boton-center{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
